  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #0077cc;
    color: white;
    padding: 1rem 0;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo-link {
    text-decoration: none;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }  
  
  .header-middle {
    flex-grow: 1;
    text-align: center;
  }
  
  .header-right {
    text-align: right;
  }
  
  .nav-button {
    background-color: #ffffff;
    color: #0077cc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #0077cc;
    color: white;
  }
  
  main {
    width: 100%;
    padding: 4rem;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }  
  
  form {
    display: grid;
    gap: 1rem;
    max-width: 400px;
  }

  #form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #333;
  }

  
  input, select, button {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  button {
    background-color: #0077cc;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  #applications-container {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
  }  