body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #94b0ff;
  background-size: cover;
  background-position: center;
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  color: white;
  padding: 1rem 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-link {
  text-decoration: none;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(
    50deg,
    #a8c0ff,
    #d1e0f3,
    #f4c6f5,
    #a2edf4,
    #d0efff
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientWave 20s ease infinite;
}

@keyframes gradientWave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.nav-button {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background: transparent;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.nav-button:hover {
  color: black;
  background: transparent;
  text-shadow: none;
}

main {
  width: 100%;
  padding: 4rem;
  max-width: 1000px;
  margin: 2rem auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  width: 48%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form {
  display: grid;
  gap: 1rem;
  max-width: 400px;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

input,
select,
button {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

button {
  background-color: rgba(211, 201, 201, 0.2);
  color: white;
  border: 1px solid white;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  font-weight: bold;
}

button:hover {
  background-color: rgb(250, 235, 235);
  color: black;
  text-shadow: none;
}

#applications-container {
  margin-top: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
}

select,
option {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

option {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

select:focus,
option:focus {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.footer {
  font-family: sans-serif;
  background-color: white;
  color: #000000;
  padding: 30px;
  text-align: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

.footer p {
  font-size: 15px;
}

footer .social-media {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.2s;
}

footer img:hover {
  transform: scale(1.2);
}

#back-to-top {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 20px;
  background-color: #94b0ff;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#back-to-top a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#back-to-top:hover {
  background-color: #7c97d3;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .nav-button {
    font-size: 0.8rem;
    padding: 8px 16px;
    margin: 5px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  #image-section img {
    width: 100%;
  }

  .footer {
    font-size: 16px;
    padding: 20px;
  }
}

/* EDIT FORM CSS */

.hide {
  display: none;
}
.show {
  display: block;
}
#form-section-edit {
  background-color: steelblue;
}
/* EDIT FORM CSS */
